*{ margin: 0; padding: 0; box-sizing: border-box; }

:root
{
   --PrimaryFont: 'Poppins', sans-serif;
   --SecondaryFont: 'Source Code Pro', monospace;

   --Regular: 500;

   --Text: white;
   --ColourStop1: #133082;
   --ColourStop2: #000;
   --ColourStop3: #134da1ff;
   --ColourStop4: #135cb0ff;
   --ColourStop5: #1471c6ff;
   --ColourStop6: #1488deff;

}

/* Sizing for Different Media */
@media (min-width: 100px)
{
   :root
   {
      --HeaderOne: 2.15rem;
      --HeaderTwo: 1.5rem;
      --HeaderThree: 1rem;
      --Body: 0.5rem;

      --rightIconsXPos: 260%;
      --handshakeYPos: -140%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -130%;

      --bottomNavSize: 120px;
   }
}
@media (min-width: 300px)
{
   :root
   {
      --HeaderOne: 2.375rem;
      --HeaderTwo: 1.625rem;
      --HeaderThree: 1.125rem;
      --Body: 0.625rem;

      --rightIconsXPos: 260%;
      --handshakeYPos: -225%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -132.5%;

      --bottomNavSize: 160px;

      --globeGif: 30px;
      --slogan: -250px;
   }
}
@media (min-width: 500px)
{
   :root
   {
      --HeaderOne: 2.375rem;
      --HeaderTwo: 1.625rem;
      --HeaderThree: 1.125rem;
      --Body: 0.625rem;

      --rightIconsXPos: 260%;
      --handshakeYPos: -225%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -132.5%;

      --bottomNavSize: 160px;

      --globeGif: -10px;
      --slogan: -370px;
   }
}

@media (min-width: 600px)
{
   :root
   {
      --HeaderOne: 2.5rem;
      --HeaderTwo: 1.75rem;
      --HeaderThree: 1.25rem;
      --Body: 0.75rem;

      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -145%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -120%;

      --bottomNavSize: 140px;

      --globeGif: 20px;
      --slogan: -430px;
   }
}

@media (min-width: 700px)
{
   :root
   {
      --HeaderOne: 2.5rem;
      --HeaderTwo: 1.75rem;
      --HeaderThree: 1.25rem;
      --Body: 0.75rem;

      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -145%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -120%;

      --bottomNavSize: 140px;

      --globeGif: 60px;
      --slogan: -500px;
   }
}

@media (min-width: 800px)
{
   :root
   {
      --HeaderOne: 2.5rem;
      --HeaderTwo: 1.75rem;
      --HeaderThree: 1.25rem;
      --Body: 0.75rem;

      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -145%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -120%;

      --bottomNavSize: 140px;

      --globeGif: 60px;
      --slogan: -570px;
   }
}

@media (min-width: 900px)
{
   :root
   {
      --HeaderOne: 2.625rem;
      --HeaderTwo: 1.875rem;
      --HeaderThree: 1.375rem;
      --Body: 0.875rem;
      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -135%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -117.5%;

      --bottomNavSize: 180px;

      --globeGif: 60px;
      --slogan: -650px;
   }
}

@media (min-width: 1000px)
{
   :root
   {
      --HeaderOne: 2.625rem;
      --HeaderTwo: 1.875rem;
      --HeaderThree: 1.375rem;
      --Body: 0.875rem;
      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -135%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -117.5%;

      --bottomNavSize: 180px;
      --globeGif: 70px;
      --slogan: -700px;
   }
}

@media (min-width: 1100px)
{
   :root
   {
      --HeaderOne: 2.625rem;
      --HeaderTwo: 1.875rem;
      --HeaderThree: 1.375rem;
      --Body: 0.875rem;
      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -135%;
      --lightBulbYPos: -112.5%;
      --starsXPos: 40%;
      --starsYPos: -117.5%;

      --bottomNavSize: 180px;
      --globeGif: 70px;
      --slogan: -750px;
   }
}

@media (min-width: 1200px)
{
   :root
   {
      --HeaderOne: 2.75rem;
      --HeaderTwo: 2rem;
      --HeaderThree: 1.50rem;
      --Body: 1rem;

      --rightIconsXPos: 260%;
      --starsXPos: 40%;
      --handshakeYPos: -120%;
      --lightBulbYPos: -100%;
      --starsXPos: 40%;
      --starsYPos: -115%;

      --bottomNavSize: 220px;

      --globeGif: 80px;
      --slogan: -850px;
   }
   strong, a 
   { 
       font-size: var(--HeaderThree);
   }
}
@media (min-width: 1500px)
{
   :root
   {
      --HeaderOne: 2.875rem;
      --HeaderTwo: 2.125rem;
      --HeaderThree: 1.625rem;
      --Body: 1.125rem;

      --rightIconsXPos: 260%;
      --starsXPos: 45%;
      --handshakeYPos: -115%;
      --lightBulbYPos: -95%;
      --starsXPos: 45%;
      --starsYPos: -112.5%;

      --bottomNavSize: 240px;

      --globeGif: 100px;
      --slogan: -950px;
   }
   strong, a 
   { 
       font-size: var(--HeaderThree);
   }
}

/* General Styling */
body
{
   background: linear-gradient(var(--ColourStop1) 0%, var(--ColourStop2) 7%, var(--ColourStop3) 100%, 
      var(--ColourStop4) 120%, var(--ColourStop5) 135%, var(--ColourStop6) 150%);
   color: var(--Text);
   font-family: var(--PrimaryFont);
   font-size: var(--Body);
   font-weight: var(--Regular);
   line-height: 1.6;
   margin: 0;
}

.centerBlocks {
   width: 65%;
   height: 20%;
   background: rgba(19, 78, 161, 0.158);
   margin-top: 5%;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5% 3% 2% 3%;
   border-radius: 20px;
}

.content {
   width: 45%;
   height: 40%;
}

.globeSpacing {
   margin-bottom: -30%;
}

.globe-gif {
   position: relative;
   text-align: center;
   margin-top: var(--globeGif);
}

.slogan-path {
   margin-top: var(--slogan);
}


.summarySpacing {
   margin-top: -32.5%;
}
.purposeSpacing {
   margin-top: -5%;
   margin-bottom: -20%;
}
.goalsSpacing {
   margin-bottom: -25%;
}
.plansSpacing {
   margin-bottom: -20%;
}

.purpose {
   background: rgba(19, 78, 161, 0.145);
   margin-left: 6%;
   padding: 2% 2%; 
   border-radius: 20px;
}

.handshake {
   fill: #45abdd;
   transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
   animation: bounce 3s ease-in-out;
   animation-timeline: view(7.5%);
   background-repeat: no-repeat;
}

.goals {
   background: rgba(19, 78, 161, 0.21);
   margin-left: 0%;
   margin-left: 50%;
   padding: 2% 2%; 
   border-radius: 20px;
}
.goalsPos {
   opacity: 0.2;
   transform: translate(var(--starsXPos), calc(var(--starsYPos) + 20%));
   animation: flyIn 3s ease-in;
   animation-timeline: view(7.5%);
   background-repeat: no-repeat;

}
.goalsHand {
   fill: #45abdd;
}
.goalsStars {
   fill: #fff9b8;

}

.plans {
   background: rgba(19, 78, 161, 0.29);
   margin-left: 6%;
   padding: 2% 2%; 
   border-radius: 20px;
}

.lightBulb {
   fill: #45abdd;
   opacity: 0.2;
   animation: lightUp 3s ease-in;
   animation-timeline: view(7.5%);
   background-repeat: no-repeat;
   transform: translate(var(--rightIconsXPos), var(--lightBulbYPos));
}

.bottomNavContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}
.bottomNavContainer section {
   flex: 25%;
   margin: 10px 0;
}
.bottomNav {
   width: 32.5%;
   height: var(--bottomNavSize);
   background: rgba(20, 135, 222, 0.084);
   margin-left: 2%;
   margin-bottom: 5%;
   padding: 2% 2%; 
   border-radius: 20px;
   text-align: center;
}

.joinUsLink {
   font-size: 1em;
   color: #fff;
   background: #45abdd;
   padding: 2% 5%;
   border-radius: 20px;
   margin-bottom: 100%;
   margin-top: 100%;
}
.joinUsLink:hover {
   color: #133082;
   background: #fff;
   transition: 0.35s ease;
}

.P90Email {
   color: #45abdd;
}
.P90Email:hover {
   color: #fff;
   transition: 0.3s ease;
}

.socials {
   margin-top: 4%;
   margin-left: 4%;
   margin-right: 4%;
   fill: #45abdd;
}
.socials:hover {
   fill: #fff;
   transition: 0.3s ease;
}

li {
   word-spacing: 2px;
   margin-bottom: 3%;
}

ul {
   word-spacing: 2px;
   margin-top: 3%;
}

section{ 
   padding: 7.25em 1em; 
}

.hiddenSection {
   transform: translateY(60%) perspective(9cm) rotateX(-20deg);
}

.showSection {
   transition: linear 0.5s;
   transform: translateY(0%) perspective(9cm) rotate3d(0, 1, 1, 0deg);

}

.curve {
   color: #fff;
}

strong, a 
{ 
   font-weight: var(--Regular);
   color: var(--Text);
   font-family: var(--PrimaryFont);
   text-decoration: none;
}

/* Typography*/
h1, h2, h3
{
   flex: 50%;
   color: var(--Text);
   font-weight: var(--Regular);
   line-height: var(--height);
   margin: 0;
}

h1 { font-size: var(--HeaderOne); }
h2 { font-size: var(--HeaderTwo); }
h3 { font-size: var(--HeaderThree); }
p { font-weight: var(--Regular); }

@keyframes bounce {
   from {
      transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
   }
   10% {
      fill: #3b97c6;
      transform: translate(var(--rightIconsXPos), calc(var(--handshakeYPos) + 15%));
   }
   15% {
      fill: #45abdd;
      transform: translate(var(--rightIconsXPos), calc(var(--handshakeYPos) - 10%));
   }
   20% {
      transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
   }
}

@keyframes flyIn {
   from {
   }
   10% {
      transform: translate(var(--starsXPos), var(--starsYPos));
      opacity: 1;
      transition: 0.3s ease-in;  
   }
}

@keyframes lightUp {
   from {
      opacity: 0.2;   
   }
   10% {
      fill: #00d0ff;
      opacity: 1;
      transform: 0.3s ease;
   }
}