*{ margin: 0; padding: 0; box-sizing: border-box; }

:root
{
   --PrimaryFont: 'Poppins', sans-serif;
   --SecondaryFont: 'Source Code Pro', monospace;

   --Regular: 500;

   --Text: white;
   --ColourStop1: #133082;
   --ColourStop2: #000;
   --ColourStop3: #133082;
   --ColourStop4: #293E75;
   --ColourStop5: #356497;
   --ColourStop6: #3E80B0;
   --ColourStop7: #45ABDD;
}

/* Sizing for Different Media */
@media (min-width: 100px)
{
   :root
   {
      --HeaderOne: 2.15rem;
      --HeaderTwo: 1.5rem;
      --HeaderThree: 1rem;
      --Body: 0.5rem;
      --rightIconsXPos: 260%;
      --handshakeYPos: -140%;
      --lightBulbYPos: -112.5%;
   }
}
@media (min-width: 300px)
{
   :root
   {
      --HeaderOne: 2.375rem;
      --HeaderTwo: 1.625rem;
      --HeaderThree: 1.125rem;
      --Body: 0.625rem;
      --rightIconsXPos: 260%;
      --handshakeYPos: -225%;
      --lightBulbYPos: -112.5%;
   }
}
@media (min-width: 600px)
{
   :root
   {
      --HeaderOne: 2.5rem;
      --HeaderTwo: 1.75rem;
      --HeaderThree: 1.25rem;
      --Body: 0.75rem;
      --rightIconsXPos: 260%;
      --handshakeYPos: -145%;
      --lightBulbYPos: -112.5%;
   }
}
@media (min-width: 900px)
{
   :root
   {
      --HeaderOne: 2.625rem;
      --HeaderTwo: 1.875rem;
      --HeaderThree: 1.375rem;
      --Body: 0.875rem;
      --rightIconsXPos: 260%;
      --handshakeYPos: -135%;
      --lightBulbYPos: -112.5%;
   }
}
@media (min-width: 1200px)
{
   :root
   {
      --HeaderOne: 2.75rem;
      --HeaderTwo: 2rem;
      --HeaderThree: 1.50rem;
      --Body: 1rem;
      --rightIconsXPos: 260%;
      --handshakeYPos: -120%;
      --lightBulbYPos: -100%;
   }
   strong, a 
   { 
       font-size: var(--HeaderThree);
   }
}
@media (min-width: 1500px)
{
   :root
   {
      --HeaderOne: 2.875rem;
      --HeaderTwo: 2.125rem;
      --HeaderThree: 1.625rem;
      --Body: 1.125rem;
      --rightIconsXPos: 260%;
      --handshakeYPos: -115%;
      --lightBulbYPos: -95%;
   }
   strong, a 
   { 
       font-size: var(--HeaderThree);
   }
}

/* General Styling */
body
{
   background: linear-gradient(var(--ColourStop1), var(--ColourStop2), var(--ColourStop2), var(--ColourStop3), var(--ColourStop3), var(--ColourStop3), 
                                var(--ColourStop4), var(--ColourStop5), var(--ColourStop6), var(--ColourStop7));
   color: var(--Text);
   font-family: var(--PrimaryFont);
   font-size: var(--Body);
   font-weight: var(--Regular);
   line-height: 1.6;
   margin: 0;
}

.centerBlocks {
   width: 65%;
   height: 20%;
   /* background: #293f7569; */
   background: #293f7547;

   /* opacity: 0.3; */
   margin-top: 5%;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5% 3% 2% 3%;
   border-radius: 20px;
}

.content {
   width: 45%;
   height: 40%;
}

.purpose {
   background: #45aadd1f;
   margin-left: 6%;
   padding: 2% 2%; 
   border-radius: 20px;
}

.handshake {
   fill: #45abdd;
   /* transform: translate(260%, -140%); */
   transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
}

.goals {
   background: #3e80b02a;
   margin-left: 50%;
   padding: 2% 2%; 
   border-radius: 20px;
}

.goalsPos {
   transform: translate(0%, 0%);

}

.goalsHand {
   fill: #45abdd;
   /* transform: translate(260%, -140%); */
   /* transform: translate(0%,0%); */
}

.goalsStars {
   fill: #fff9b8;
   /* transform: translate(0%,0%); */

}

.plans {
   background: #3564975d;
   margin-left: 6%;
   padding: 2% 2%; 
   border-radius: 20px;
}

.lightBulb {
   fill: #45abdd;
   transform: translate(var(--rightIconsXPos), var(--lightBulbYPos));
}

.bottomNav {
   width: 32.5%;
   background: #3e80b04a;
   margin-left: 2%;
   margin-bottom: 2%;
   padding: 2% 2%; 
   border-radius: 20px;
   text-align: center;
}

.socials {
   margin-left: 4%;
   margin-right: 4%;
   fill: red;
}

.socials:hover {
   fill: #45abdd;
   transition: 0.3s ease;
}

li {
   word-spacing: 2px;
   margin-bottom: 3%;
}

section{ padding: 7.25em 2.5em; }

strong, a 
{ 
   font-weight: var(--Regular);
   color: var(--Text);
   font-family: var(--PrimaryFont);
   text-decoration: none;
}

/* Typography*/
h1, h2, h3
{
   flex: 50%;
   color: var(--Text);
   font-weight: var(--Regular);
   line-height: var(--height);
   margin: 0;
}

h1 { font-size: var(--HeaderOne); }
h2 { font-size: var(--HeaderTwo); }
h3 { font-size: var(--HeaderThree); }
p { font-weight: var(--Regular); }