*{ margin: 0; padding: 0; box-sizing: border-box; }

:root
{
   --PrimaryFont: 'Poppins', sans-serif;
   --SecondaryFont: 'Source Code Pro', monospace;

   --Regular: 500;

   --Text: white;
   --ColourStop1: #0080ff;
   --ColourStop2: #133cbd;
   --lightBlue: #45abdd;
   --mediumBlue: #0091FF;
   --darkBlue: #1b41a7;
   --DefaultButtonGradient: linear-gradient(to right, #229fff 20%, #0c69c6);
   --HoverButtonGradient: linear-gradient(to right, #0582ff 20%, #0158bc);
}

/* Sizing for Different Media */
@media (min-width: 300px)
{
   :root
   {
      --LogoWidth: 40%;
      --LogoYPos: 15%;
      --globeSize: 500px;
      --HeaderOne: 1.25rem;
      --HeaderTwo: 0.625rem;
      --HeaderThree: 0.45rem;
      --Body: 0.625rem;
      --globeSpaceHeight: 85%;
      --slogan: -15%;
      --globeGif: -67.5%;

      --rightIconsXPos: 150%;
      --handshakeYPos: -510%;
      --starsXPos: 150%;
      --starsYPos: -370%;
      --lightBulbYPos: -310%;
      --infoWidth: 100%;
      --goalsWidth: 90%;
      --marginOne: -0.5%;
      --marginTwo: var(--marginOne);
      --bottomNavSize: 65px;
   }
   strong, a 
   { 
       font-size: var(--HeaderThree);
   }
   .bottomNavContainer {
      margin-left: 1rem;
      margin-right: 1rem;
   }
}
@media (min-width: 350px)
{
   :root
   {
      --LogoYPos: 5%;
      --handshakeYPos: calc(-515% + ((100vw - 300px) * 0.8));
      --starsYPos: -330%;
      --lightBulbYPos: -265%;
   }
}
@media (min-width: 375px)
{
   :root
   {
      --LogoYPos: 0%;
      --handshakeYPos: -400%;
      --starsYPos: -310%;
      --lightBulbYPos: -250%;
   }
}
@media (min-width: 400px)
{
   :root
   {
      --LogoWidth: 35%;
      --LogoYPos: 3%;
      --handshakeYPos: -375%;
      --starsYPos: -295%0
      --lightBulbYPos: -240%;
   }
}
@media (min-width: 450px)
{
   :root
   {
      --LogoYPos: -5%;
      --handshakeYPos: -350%;
      --starsYPos: -260%;
      --lightBulbYPos: -215%;
   }
}
@media (min-width: 500px)
{
   :root
   {
      --LogoWidth: 30%;
      --LogoYPos: -2.5%;
      --globeSpaceHeight: 80%;
      --handshakeYPos: -330%;
      --starsYPos: -250%;
      --lightBulbYPos: -200%;
   }
}
@media (min-width: 530px)
{
   :root
   {
      --LogoYPos: -5%;
      --handshakeYPos: -300%;
      --starsYPos: -230%;
      --lightBulbYPos: -195%;
   }
}
@media (min-width: 600px)
{
   :root
   {
      --LogoWidth: 27.5%;
      --LogoYPos: -7.5%;
      --HeaderOne: 1.5rem;
      --HeaderTwo: 1rem;
      --HeaderThree: 0.75rem;
      --Body: 0.75rem;
      --globeSpaceHeight: 80%;

      --rightIconsXPos: 280%;
      --handshakeYPos: -165%;
      --starsXPos: 30%;
      --starsYPos: -135%;
      --lightBulbYPos: -120%;

      --infoWidth: 60%;
      --marginOne: 0%;
      --marginTwo: 39.75%;
      --bottomNavSize: 115px;
   }
   .bottomNavContainer {
      margin-left: 4rem;
      margin-right: 4rem;
   }
}
@media (min-width: 700px)
{
   :root
   {
      --LogoYPos: -15%;
      --globeSpaceHeight: 77.5%;
      --handshakeYPos: -145%;
      --starsYPos: -125%;
      --lightBulbYPos: -105%;
   }
}
@media (min-width: 800px)
{
   :root
   {
      --LogoYPos: -22.5%;
      --handshakeYPos: -135%;
      --starsYPos: -110%;
      --lightBulbYPos: -100%;
   }
}
@media (min-width: 900px)
{
   :root
   {
      --LogoWidth: 20%;
      --LogoYPos: -10%;
      --HeaderOne: 1.75rem;
      --HeaderTwo: 1.25rem;
      --HeaderThree: 1rem;
      --Body: 0.875rem;

      --rightIconsXPos: 275%;
      --handshakeYPos: -150%;
      --starsXPos: 25%;
      --starsYPos: -130%;
      --lightBulbYPos: -102.5%;
      
      --infoWidth: 60%;
      --marginOne: 1%;
      --marginTwo: 38.75%;
      --bottomNavSize: 160px;
   }
}
@media (min-width: 1000px)
{
   :root
   {
      --LogoYPos: -17.5%;
      --handshakeYPos: -135%;
      --starsYPos: -120%;
      --lightBulbYPos: -97.5%;
   }
}
@media (min-width: 1001px)
{
   :root
   {
      --LogoYPos: -12.5%;
   }
}
@media (min-width: 1100px)
{
   :root
   {
      --LogoYPos: -17.5%;
   }
}
@media (min-width: 1200px)
{
   :root
   {
      --LogoWidth: 17.5%;
      --LogoYPos: -15%;
      --HeaderOne: 2.3rem;
      --HeaderTwo: 1.5rem;
      --HeaderThree: 1.1rem;
      --Body: 1rem;

      --globeSpaceHeight: 85%;
      --slogan: -15%;
      --globeGif: -67.5%;

      --rightIconsXPos: 280%;
      --handshakeYPos: -130%;
      --starsXPos: 25%;
      --starsYPos: -110%;
      --lightBulbYPos: -97.5%;

      --infoWidth: 60%;
      --marginOne: 1%;
      --marginTwo: 38.75%;
      --bottomNavSize: 170px;
   }
}
@media (min-width: 1500px)
{
   :root
   {
      --LogoWidth: 15%;
      --LogoYPos: -20%;
      --HeaderOne: 2.75rem;
      --HeaderTwo: 1.75rem;
      --HeaderThree: 1.25rem;
      --Body: 1.125rem;

      --globeSpaceHeight: 95%;
      --slogan: -12.5%;
      --globeGif: -67.5%;

      --rightIconsXPos: 290%;
      --handshakeYPos: -115%;
      --starsXPos: 15%;
      --starsYPos: -110%;
      --lightBulbYPos: -95%;
      --infoWidth: 65%;
      --marginOne: 3%;
      --marginTwo: 32.75%;
      --bottomNavSize: 250px;
   }
}

/* Mobile devices */
@media (max-width: 600px) {
	.webpage-heading {
		margin-top: 6rem;
		margin-bottom: 2rem;
		font-size: 1.6rem;
	}
	.top-webpage-msg {
		margin-bottom: 2rem; /* Adjust margin for screens <= 600px */
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.top-webpage-msg h2 {
		font-size: 0.8rem;
	}
}
/* iPad devices */
@media (min-width: 600px) and (max-width: 1024px) {
	.webpage-heading {
		margin-top: 6rem;
		margin-bottom: 3rem;
		font-size: 2rem;
	}
	.top-webpage-msg {
		margin-bottom: 3.5rem; /* Adjust margin for screens between 600px and 1024px */
		margin-left: 8rem;
		margin-right: 8rem;
	}
	.top-webpage-msg h2 {
		font-size: 1.1rem;
	}
}
/* Laptop devices */
@media (min-width: 1024px) {
   .webpage-heading {
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}
   .top-webpage-msg {
		margin-bottom: 2rem;
		margin-left: 8rem;
		margin-right: 8rem;
	}
	.top-webpage-msg h2 {
		font-size: 1.3rem;
	}
   .bottomNavContainer {
      margin-left: 6rem;
      margin-right: 6rem;
   }
}
@media (min-width: 1200px) {
	.webpage-heading {
		font-size: 2.2rem;
		margin-bottom: 2rem;	
   }
   .top-webpage-msg {
		margin-left: 22rem;
		margin-right: 22rem;
	}
   .bottomNavContainer {
      margin-left: 8rem;
      margin-right: 8rem;
   }
}

/* General Styling */
body {
   background: linear-gradient(to bottom right, var(--ColourStop1), var(--ColourStop2) 70%);
   color: var(--Text);
   font-family: var(--PrimaryFont);
   font-size: var(--Body);
   font-weight: var(--Regular);
   line-height: 1.6;
   margin: 0;
}

.centerBlocks {
   width: 65%;
   height: 20%;
   background: rgba(42, 75, 170, 0.3);
   margin-top: 5%;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5% 3% 2% 3%;
   border-radius: 20px;
}

.logoSizing {
   width: var(--LogoWidth);
   translate: 0 var(--LogoYPos);
}

.content {
   width: 45%;
   height: 40%;
}

.globeSection {
   background-position: center;
   position: relative;
}

.globeSpacing {
   margin-bottom: -30%;
}

.globeBackground {
   position: absolute; left: 0; top: 0; width: 100%; height: 500px;
   padding: 2em;
   height: var(--globeSpaceHeight);
   background-image: linear-gradient(to bottom, 
   rgba(0,0,0,0) 0%,
   rgba(0,0,0,1) 5%,
   rgba(0,0,0,1) 90%,
   rgba(0,0,0,0) 100%);
   z-index: -1;
}

.globe-gif {
   position: relative;
   text-align: center;
   margin-top: var(--globeGif);
}

.slogan-path {
   margin-top: var(--slogan);
}

.summarySpacing {
   margin-top: -22.5%;
   margin-bottom: -5%;
}

.dot {
   height: 110px;
   width: 110px;
   display: grid;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   z-index: 1;
   margin-left: 200px;
   margin-right: 200px;
   margin-bottom: 50px;

}

.urlLink {
   color: #1DE9B6;
   text-decoration: underline;
}

.infoSpacing {
   margin-bottom: -20%;
}

.purpose {
   background: rgba(33, 112, 235, 0.3);
   width: var(--infoWidth);
   margin-left: var(--marginOne);
   padding: 2% 2%; 
   border-radius: 20px;
}

.handshake {
   opacity: 0.2;
   transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
   animation: bounce 3s ease-in-out;
   animation-timeline: view(7.5%);
   background-repeat: no-repeat;
}

.goals {
   background: rgba(13, 92, 235, 0.3);
   width: var(--infoWidth);
   margin-left: var(--marginTwo);
   padding: 2% 2%; 
   border-radius: 20px;
}
.goalsPos {
   opacity: 0.2;
   transform: translate(var(--starsXPos), calc(var(--starsYPos) + 20%));
   animation: flyIn 3s ease-in;
   animation-timeline: view(7.5%);
   background-repeat: no-repeat;

}

.plans {
   background: rgba(31, 96, 236, 0.3);
   width: var(--infoWidth);
   margin-left: var(--marginOne);
   padding: 2% 2%; 
   border-radius: 20px;
}

.lightBulb {
   opacity: 0.2;
   animation: lightUp 3s ease-in;
   animation-timeline: view(7.5%);
   background-repeat: no-repeat;
   transform: translate(var(--rightIconsXPos), var(--lightBulbYPos));
}

/* Bottom Navbar*/
.bottomNavContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.bottomNavContainer h2 {
   margin: 0;
   flex: 0 0 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}


.bottomNavContainer a {
   text-decoration: none;
   color: var(--Text);
}

.bottomNav {
   height: var(--bottomNavSize);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.joinOrContact {
   font-size: 1em;
   color: var(--Text);
   background: var(--DefaultButtonGradient);
   padding: 2% 0%;
   border-radius: 20px;
   margin: 0;
   width: 100px;
   text-align: center;
}

.joinOrContact:hover {
   background: var(--HoverButtonGradient);
   transition: 0.35s ease-in-out;
}

.joinUs, .contactUs {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
}

.socialsContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.socials {
   width: 24%;
   margin: 0 5px;
   --startColor: #0091ff;
   --endColor: #0a73d9;
   transition: all 0.3s ease;
}

.socials:hover {
   --startColor: #0582ff;
   --endColor: #0158bc;
}

.bottomNavContainer h2 {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
}

.bottomNavContainer h2:first-of-type {
   justify-content: flex-start;
}

.bottomNavContainer h2:last-of-type {
   justify-content: flex-end;
}

/* Typography*/
section { 
   padding: 7.25em 1em; 
}
strong, a { 
   font-weight: var(--Regular);
   color: var(--Text);
   font-family: var(--PrimaryFont);
   text-decoration: none;
}
h1, h2 {
   flex: 50%;
   color: var(--Text);
   font-weight: var(--Regular);
   line-height: var(--height);
   margin: 0;
}
h1 { font-size: var(--HeaderOne); }
h2 { font-size: var(--HeaderTwo); }
ul, li { font-size: var(--HeaderThree); }
p {font-size: var(--HeaderThree); font-weight: var(--Regular); }
li {
   word-spacing: 2px;
   margin-bottom: 3%;
}
ul {
   word-spacing: 2px;
   margin-top: 3%;
   margin-bottom: -1%;
}

::selection {
   background-color: #00008B; /* Dark blue background */
   color: #FFFFFF; /* White text */
}

.top-webpage-msg {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 5rem;
}

.webpage-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top-webpage-photo img {
	width: 100%;
   margin-top: 1%;
}

.white-line {
   width: 40%;
   height: 2px;
   background-color: white;
   border: none;
   margin: 1rem auto;
   margin-bottom: 50px;
 }

/* animations */
@keyframes bounce {
   from {
      transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
   }
   10% {
      opacity: 0.5;
      transform: translate(var(--rightIconsXPos), calc(var(--handshakeYPos) + 20%));
   }
   15% {
      opacity: 1;
      transform: translate(var(--rightIconsXPos), calc(var(--handshakeYPos) - 10%));
   }
   20% {
      transform: translate(var(--rightIconsXPos), var(--handshakeYPos));
   }
}
@keyframes flyIn {
   from {
   }
   10% {
      transform: translate(var(--starsXPos), var(--starsYPos));
      opacity: 1;
      transition: 0.3s ease-in;  
   }
}
@keyframes lightUp {
   from {
      opacity: 0.2;   
   }
   10% {
      opacity: 1;
      transform: 0.3s ease;
   }
}