.sponsor-photo {
	display: flex;
	justify-content: center;
	margin: 5% 0% 8% 0%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-photo img {
		width: 100%;
		height: 45vh;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 50vh;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 65vh;
	}
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

/* Mobile devices */
@media (max-width: 600px) {
	.heading {
		margin-top: 5rem;
		font-size: 1.8rem;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 1024px) {
	.heading {
		margin-bottom: 3rem;
		font-size: 2rem;
	}
}

/* Laptop devices */
@media (min-width: 1024px) and (max-width: 1200px) {
    .heading {
		font-size: 2.2rem;
		margin-bottom: 5rem;
	}
}

@media (min-width: 1200px) {
	.heading {
		font-size: 2.2rem;
		margin-bottom: 5rem;
	}
}

.about-us-info {
	margin: 3rem 10rem 6rem 10rem;
	display: flex;
    justify-content: center;
    align-items: space-around;
}

.intro-outer-box {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 50%;
    height: 100%;
}

.intro-inner-box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: rgba(42, 75, 170, 0.3);
	border-radius: 18px;
    width: 95%;
}

.intro-inner-box h1 {
    font-size: 1.4rem;
}
.intro-inner-box p {
    font-size: 1.1rem;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
}

.image-wrapper img {
    width: 50%;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.15);
}

/* Mobile devices */
@media (max-width: 600px) {
    .about-us-info {
        flex-direction: column;
        margin: 3rem 2rem 5rem 2rem;
    }
    .reverse-items {
        flex-direction: column-reverse;
    }
    .intro-outer-box {
        width: 100%;
        margin-top: 5rem;
    }
    .image-wrapper {
        width: 100%;
    }
    .image-wrapper img {
        width: 70%;
    }
	.intro-inner-box h1 {
		font-size: 1.3rem;
		margin-bottom: 0.7rem;
	}

	.intro-inner-box p {
		font-size: 1rem;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 750px) {
    .about-us-info {
        margin: 3rem 4rem 6rem 4rem;
    }
    .intro-outer-box {
        width: 100%;
        margin-bottom: 4rem;
    }
    .image-wrapper {
        width: 100%;
    }
    .image-wrapper img {
        width: 75%;
    }
	.intro-inner-box h1 {
		font-size: 1.2rem;
	}

	.intro-inner-box p {
		font-size: 0.9rem;
	}
}

/* iPad devices */
@media (min-width: 750px) and (max-width: 1024px) {
    .about-us-info {
        margin: 3rem 4rem 6rem 4rem;
    }
    .intro-outer-box {
        width: 100%;
        margin-bottom: 4rem;
    }
    .image-wrapper {
        width: 100%;
    }
    .image-wrapper img {
        width: 75%;
    }
	.intro-inner-box h1 {
		font-size: 1.3rem;
	}

	.intro-inner-box p {
		font-size: 1rem;
	}
}

/* Laptop devices */
@media (min-width: 1024px) and (max-width: 1200px) {
    .about-us-info {
        margin: 3rem 8rem 6rem 8rem;
    }
    .intro-outer-box {
        width: 100%;
        margin-bottom: 4rem;
    }
    .image-wrapper {
        width: 100%;
    }
    .image-wrapper img {
        width: 75%;
    }
	.intro-inner-box h1 {
		font-size: 1.3rem;
	}
	.intro-inner-box p {
		font-size: 1rem;
	}
}