.sponsor-photo {
	display: flex;
	justify-content: center;
	margin: 5% 0% 8% 0%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-photo img {
		width: 100%;
		height: 45vh;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 50vh;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 65vh;
	}
}

.navigation-list-items a.active {
	color: black;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 11px;
	padding-right: 11px;
	box-shadow: 0px 5px 0px -3px black;
}

.navigation-list-items a.active:hover {
	color: black;
}

.event-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.event-icon-container {
	display: flex;
	margin-bottom: 5rem;
}

/* Mobile devices */

@media (max-width: 600px) {
	.event-heading {
		margin-top: 6rem;
		margin-bottom: 2rem;
		font-size: 1.6rem;
	}
	.event-icon-container {
		margin-bottom: 2.5rem; /* Adjust margin for screens <= 600px */
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 1024px) {
	.event-heading {
		margin-top: 6rem;
		margin-bottom: 3rem;
		font-size: 2rem;
	}
	.event-icon-container {
		margin-bottom: 4rem; /* Adjust margin for screens <= 600px */
	}
}

/* Laptop devices */
@media (min-width: 1024px) and (max-width: 1200px) {
	.event-heading {
		font-size: 2.2rem;
		margin-bottom: 3rem;
	}
	.event-icon-container {
		margin-bottom: 5rem; /* Adjust margin for screens <= 600px */
	}
}

@media (min-width: 1200px) {
	.event-heading {
		font-size: 2.2rem;
		margin-bottom: 4rem;
	}
}

.hr-div-class {
	width: 45%;
	display: flex;
	align-items: center;
}

.event-icon {
	width: 10%;
}

.hr-class-1 {
	height: 2px;
	width: 40%;
	background-color: white;
	margin-left: auto;
}

.hr-class-2 {
	height: 2px;
	width: 40%;
	background-color: white;
}

@media (max-width: 600px) {
	.hr-class-1,
	.hr-class-2 {
		height: 1.5px;
		width: 50%;
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.hr-class-1,
	.hr-class-2 {
		height: 2px; /* Adjust height for screens between 601px and 1024px */
	}
}

@media (min-width: 1024px) {
	.hr-class-1,
	.hr-class-2 {
		height: 2px; /* Maintain original height for screens > 1024px */
	}
}

.event-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-icon img {
	width: 25%;
}

@media (max-width: 600px) {
	.event-icon {
		width: 15%;
	}
	.event-icon img {
		width: 40%; /* Adjust width for screens <= 600px */
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.event-icon img {
		width: 35%; /* Adjust width for screens between 601px and 1024px */
	}
}

@media (min-width: 1024px) {
	.event-icon img {
		width: 25%; /* Maintain original width for screens > 1024px */
	}
}

.event-join-msg {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 5rem;
}

@media (max-width: 600px) {
	.event-join-msg {
		margin-bottom: 2rem; /* Adjust margin for screens <= 600px */
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.event-join-msg h2 {
		font-size: 0.8rem;
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.event-join-msg {
		margin-bottom: 3.5rem; /* Adjust margin for screens between 601px and 1024px */
		margin-left: 8rem;
		margin-right: 8rem;
	}
	.event-join-msg h2 {
		font-size: 1.1rem;
	}
}

@media (min-width: 1024px) {
	.event-join-msg {
		margin-bottom: 5rem;
		margin-left: 8rem;
		margin-right: 8rem;
	}
	.event-join-msg h2 {
		font-size: 1.3rem;
	}
}

.event-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 5rem 4rem;
}

.no-current-events-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid #cccccc; /* Light gray dotted border */
	padding: 0px 20px;
	margin: 3rem 3rem;
	border-radius: 25px;
}

.no-current-events {
	font-size: 1rem;
	margin: 4rem 0rem;
}

@media (max-width: 400px) {
	.no-current-events {
		font-size: 0.8rem;
	}
}

@media (max-width: 600px) {
	.event-container {
		margin: 1rem 1rem 0rem 1rem; /* Adjust margin for screens <= 600px */
	}
	.no-current-events-container {
		flex-direction: column;
		margin: 1.5rem 2rem 0rem 2rem; /* Adjust margin for screens <= 600px */
	}
	.no-current-events {
		margin: 2rem 0rem;
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.event-container {
		margin: 3.5rem 2.5rem; /* Adjust margin for screens between 601px and 1024px */
	}
	.no-current-events-container {
		margin: 2rem 5rem 0rem 5rem;
	}
}

@media (min-width: 1024px) {
	.event-container {
		margin: 0rem 4rem 4rem 4rem;
	}
}

.moon-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 70px;
	height: 70px;
	padding-top: 15px;
	padding-left: 20px;
}

@media (max-width: 600px) {
	.no-current-events {
		margin: 1rem 0rem;
	}
	.moon-animation {
		height: 80px;
		width: 80px;
		padding-bottom: 20px;
	}
}

.moon-animation img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}

/* Container needed to position the button. Adjust the width as needed */
.image-wrapper {
	position: relative;
	overflow: hidden; /* Ensures the pseudo-element does not extend outside */
	border-radius: 5%;
}

@media (max-width: 450px) {
	.image-wrapper {
		width: auto;
		height: 17rem;
		margin: 2rem 1rem;
	}
}

@media (min-width: 450px) and (max-width: 600px) {
	.image-wrapper {
		width: auto; /* Adjust width for screens <= 600px */
		height: 18rem; /* Adjust height for screens <= 600px */
		margin: 2rem 2rem; /* Adjust margin for screens <= 600px */
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.image-wrapper {
		width: auto; /* Adjust width for screens between 601px and 1024px */
		height: 18rem;
		margin: 3rem 4rem 3rem 4rem;
	}
}

@media (min-width: 1024px) {
	.image-wrapper {
		width: auto; /* Adjust width for screens > 1024px */
		height: 20rem;
		margin: 4rem 4rem 4rem 4rem;
	}
}

.image-wrapper:hover {
	box-shadow: 0 0 40px rgba(0, 128, 255, 0.75);
}

.image-wrapper img:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	opacity: 0.4;
	background-image: linear-gradient(to right, #0582ff 20%, #0158bc);
}

.image-wrapper {
	display: none;
}

.image-wrapper:nth-child(-n + 6) {
	display: block;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-image: linear-gradient(to right, #229fff, #0c69c6);
}

/* Style the button and place it in the middle of the container/image */
.image-wrapper .btn {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 16px;
	padding: 10px 18px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background-color: #5d9eeb;
	color: white;
	border-radius: 10px;
	display: none;
}

@media (max-width: 1024px) {
	.image-wrapper .btn {
		display: block;
		opacity: 0.85;
		top: 92%;
	}
	.image-wrapper img:hover {
		opacity: 1;
	}
}

@media (max-width: 600px) {
	.image-wrapper .btn {
		display: block;
		opacity: 0.85;
		font-size: 14px;
		padding: 8px 16px;
		top: 92%;
	}
	.image-wrapper img:hover {
		opacity: 1;
	}
}

.load-more-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0rem 0rem 2rem 0rem;
	padding: 0rem 3rem 6rem 3rem; /* Increase padding for a larger button */
	font-size: 1.5rem; /* Increase font size for better visibility */
	width: auto; /* Adjust width as needed */
	height: auto; /* Adjust height as needed */
}

#load-more-btn {
	font-weight: bold;
	padding: 0.8rem;
	border-radius: 20px;
	border: 3.5px solid white; /* Use the primary color for the border */
	color: white; /* Text color matches the border */
	background-color: transparent; /* Transparent background */
	cursor: pointer;
	transition: all 0.2s ease; /* Smooth transition for hover and focus */
}

#load-more-btn:hover,
#load-more-btn:focus {
	color: rgba(23, 10, 81); /* White text on hover/focus */
	border: 3.5px solid rgba(23, 10, 81); /* Transparent border on hover/focus */
}

@media (max-width: 600px) {
	.load-more-btn-container {
		margin: 2rem 0rem; /* Adjust margin for screens <= 600px */
		padding: 0.5rem 1.5rem 4rem 1.5rem; /* Adjust padding for screens <= 600px */
		font-size: 1.2rem; /* Adjust font size for screens <= 600px */
	}
	#load-more-btn {
		padding: 0.5rem; /* Adjust padding for screens <= 600px */
		border-radius: 10px; /* Adjust border radius for screens <= 600px */
		border: 3px solid white; /* Use the primary color for the border */
		color: white;
	}
	#load-more-btn:hover,
	#load-more-btn:focus {
		color: rgba(23, 10, 81);
		border: 3px solid rgba(23, 10, 81);
	}
}

.target-div {
	display: none;
	margin: 10rem;
}

/* General styling for the SweetAlert2 popup */
.swal2-popup {
	font-size: 15px; /* Default font size */
}

/* Adjustments for tablets */
@media (max-width: 1024px) {
	.swal2-popup {
		font-size: 13px; /* Smaller font size for smaller devices */
	}
}

/* Adjustments for mobile phones */
@media (max-width: 600px) {
	.swal2-popup {
		font-size: 12px; /* Even smaller font size for mobile phones */
	}
}

.swal2-close {
	position: absolute;
	font-size: 50px; /* Makes the icon bigger */
	font-weight: bold; /* Makes the icon thicker, optional */
	right: 20px; /* Adjusts the position from the right */
	color: white;
	/* margin-bottom: -25px;  Adds space between the cross icon and the content below */
}

/* Adjust close button size on smaller screens */
@media (max-width: 1024px) {
	.swal2-close {
		font-size: 40px; /* Smaller close button on tablets */
	}
}

@media (max-width: 600px) {
	.swal2-close {
		font-size: 40px; /* Even smaller close button on mobile phones */
	}
}

div:where(.swal2-container) button:where(.swal2-close):hover {
	color: rgba(224, 208, 208, 0.579);
}

#custom-swal-content {
	display: flex;
	align-items: center;
	color: white;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

#custom-swal-content div:first-child {
    width: 55%;
    height: 100%;
    justify-content: center;
	border-radius: 25px 0px 0px 0px;
}

#custom-swal-content div:last-child {
    width: 45%;
    text-align: left;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    height: calc(100% - 5rem); /* Adjust height to account for margin-top */
    overflow-y: auto;
    padding-right: 30px; /* Adjust this value as needed */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

#custom-swal-content img {
	width: 100%;
	height: 100%;
	border-radius: 25px 0px 25px 0px;
}

div:where(.swal2-container) .swal2-html-container {
	padding: 0px;
	height: 100%;
}

div:where(.swal2-container) div:where(.swal2-popup) {
	display: space-between;
	background-color: rgba(5, 17, 52, 0.888);
}

div:where(.swal2-container).swal2-center > .swal2-popup {
	border-radius: 25px;
}


#popupBoxTitle {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

/* For screens up to 600px wide */
@media (max-width: 600px) {
	#custom-swal-content {
		display: block;
		height: 50rem;	
	}

	#custom-swal-content {
		border-radius: 25px 25px 0px 0px;
	}

	#custom-swal-content img {
		border-radius: 25px 25px 0px 0px;
	}

	div:where(.swal2-container) div:where(.swal2-popup) {
		width: 85%; /* Adjust as needed */
		height: auto; 
	}
	#custom-swal-content div:first-child {
		display: flex;
		height: 40%;
		width: 100%;
		justify-content: center;
	}

	#custom-swal-content div:last-child {
		text-align: left;
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		height: 50%;
		width: calc(100% - 3rem);
		padding-right: 0px;
	}

	#popupBoxTitle {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}
	.swal2-close {
		right: 0px;
	}
}

/* For screens between 601px and 1024px wide */
@media (min-width: 601px) and (max-width: 1024px) {
	div:where(.swal2-container) div:where(.swal2-popup) {
		width: 80%; /* Adjust as needed */
		height: 35rem; /* Adjust as needed */
	}
	#custom-swal-content {
		height: 80%;
	}
	#popupBoxTitle {
		font-size: 1.3rem;
	}
}


/* For screens wider than 1024px */
@media (min-width: 1025px) {
	/* Original styles */
	div:where(.swal2-container) div:where(.swal2-popup) {
		width: 70%;
		height: 40rem;
	}
	#custom-swal-content {
		height: 82%;
	}
}

#event-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0rem 1rem 0rem;
}

#prevBtn, #nextBtn {
    background: none; /* Remove background */
    color: white;
    border: 2px solid white; /* Add white border */
    cursor: pointer;
    padding: 10px 20px; /* Slightly larger padding for a better visual */
    border-radius: 30px; /* More rounded corners */
    margin: 0rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    font-size: 30px; /* Increase font size for larger arrows */
}

@media (max-width: 600px) {
	#event-buttons {
		margin: 0rem 0rem 1rem 0rem; /* Adjust margin for screens <= 600px */
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	#event-buttons {
		margin: 1.5rem 0rem 1.5rem 0rem;
	}
}

#prevBtn, #nextBtn {
    border: 2px solid transparent; /* Initial border color */
    width: 61px; /* Set a fixed width for the button */
    height: 61px; /* Set a fixed height for the button */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Ensure background is transparent */
    cursor: pointer; /* Change cursor to pointer */
	border-color: white;
}

/* Media query for screens up to 600px */
@media (max-width: 600px) {
    #prevBtn, #nextBtn {
        width: 57px; /* Adjust width for smaller screens */
        height: 57px; /* Adjust height for smaller screens */
    }
}

/* Media query for screens between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
    #prevBtn, #nextBtn {
        width: 61px; /* Adjust width for medium screens */
        height: 61px; /* Adjust height for medium screens */
    }
}

/* Media query for screens larger than 1024px */
@media (min-width: 1025px) {
    #prevBtn, #nextBtn {
        width: 61px; /* Adjust width for larger screens */
        height: 61px; /* Adjust height for larger screens */
    }
}

#prevBtn:hover, #nextBtn:hover {
	color: black;
	border-color: white;
	background: white;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

#prevBtn:hover .arrow-btn-svg path, #nextBtn:hover .arrow-btn-svg path {
    fill: black; /* Change SVG fill color on hover */
}

#prevBtn:disabled, #nextBtn:disabled {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    cursor: not-allowed;
    box-shadow: none; /* Remove shadow to make it look flat and disabled */
}

#prevBtn:disabled .arrow-btn-svg path, #nextBtn:disabled .arrow-btn-svg path {
    fill: #ffffff; /* Keep SVG fill color consistent when button is disabled */
}

#custom-swal-container {
	display: block;
	height: 100%;
}











@keyframes swipeInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swipeInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popupAnimation {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}



.highlight-link {
    text-decoration: underline;
    padding: 2px 4px;
    border-radius: 3px;
	font-size: 1.2rem;
}

.link-closed {
    padding: 2px 4px; /* Add some padding for better readability */
    border-radius: 3px; /* Slightly round the corners */
    position: relative; /* Required for the hover effect */
}

.link-closed:hover::after {
    content: 'Link Closed'; /* Display the message */
    position: absolute;
    top: 100%; /* Position below the link */
    left: 0;
    background-color: #000; /* Black background for the message */
    color: #fff; /* White text color */
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 1; /* Ensure the message is on top */
	font-size: 1rem;
}

