.sponsor-photo {
	display: flex;
	justify-content: center;
	margin: 5% 0% 8% 0%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-photo img {
		width: 100%;
		height: 45vh;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 50vh;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 70vh;
	}
}

.navigation-list-items a.active {
	color: black;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 11px;
	padding-right: 11px;
	box-shadow: 0px 5px 0px -3px black;
}

.navigation-list-items a.active:hover {
	color: black;
}

.event-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 3rem;
}

/* Mobile devices */

@media (max-width: 600px) {
	.event-heading {
		margin-top: 25rem;
		font-size: 1.6rem;
	}
}

@media (max-width: 390px) {
	.event-heading {
		margin-top: 30rem;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.event-heading {
		margin-bottom: 3rem;
		font-size: 2rem;
	}
}

/* Laptop devices */
@media (min-width: 1024px) and (max-width: 1200px) {
	.event-heading {
		font-size: 2.2rem;
		margin-bottom: 5rem;
	}
}

@media (min-width: 1200px) {
	.event-heading {
		font-size: 2.2rem;
		margin-bottom: 5rem;
	}
}

.event-icon-container {
	display: flex;
	margin-bottom: 5rem;
}

.hr-div-class {
	width: 45%;
	display: flex;
	align-items: center;
}

.event-icon {
	width: 10%;
}

.hr-class-1 {
	height: 2px;
	width: 40%;
	background-color: white;
	margin-left: auto;
}

.hr-class-2 {
	height: 2px;
	width: 40%;
	background-color: white;
}

.event-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-icon img {
	width: 25%;
}

.event-join-msg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.event-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 5rem 4rem;
}

.no-current-events-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid #cccccc; /* Light gray dotted border */
	padding: 0px 20px;
	margin: 6rem 5rem;
}

.no-current-events {
	font-size: 20px;
	margin: 4rem 0rem;
}

.moon-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 70px;
	height: 70px;
	padding-top: 15px;
	padding-left: 20px;
}

.moon-animation img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}





/* Container needed to position the button. Adjust the width as needed */
.image-wrapper {
	position: relative;
	width: 22%;
	height: 25rem;
	margin: 5rem 4rem 5rem 4rem;
	box-shadow: 0px 0px 5px 4px #1aacff;
	transition: transform 0.5s ease, box-shadow 0.5s ease; /* Smooth transition for transform and box-shadow */
	will-change: transform, box-shadow; /* Optimizes animations */
	position: relative; /* Needed for pseudo-element positioning */
	overflow: hidden; /* Ensures the pseudo-element does not extend outside */
	transform: perspective(1000px) rotateY(0deg) rotateX(0deg); /* Initial 3D perspective */
	border-radius: 5%;
}


.image-wrapper:hover {
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Deeper shadow for a "lifted" look */
	opacity: 0.4;
}

.image-wrapper {
	display: none;
}

.image-wrapper:nth-child(-n + 6) {
	display: block;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Style the button and place it in the middle of the container/image */
.image-wrapper .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.image-wrapper .btn:hover {
	background-color: black;
}













.load-more-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem 0rem;
	padding: 0.5rem 3rem 6rem 3rem; /* Increase padding for a larger button */
	font-size: 1.5rem; /* Increase font size for better visibility */
	width: auto; /* Adjust width as needed */
	height: auto; /* Adjust height as needed */
	cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

#load-more-btn {
	background-color: #229fffdf;
	color: white;
	font-weight: bold;
	padding: 0.8rem;
	border-radius: 15px;
	border: 0px;
}

