header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.5s ease;
	height: 18vh;
}

.navigation-logo img
{
    top: 0px;
    cursor: pointer;
    z-index: 1;
	width: 18rem;
}

@media (max-width: 400px) {
	.navigation-logo {
		flex: 1;
	}
	.navigation-logo img {
		width: 9.5rem;
		margin-bottom: 15px;
	}
}

@media (min-width: 400px) and (max-width: 600px) {
	.navigation-logo {
		flex: 1;
	}
	.navigation-logo img {
		width: 11.5rem;
		margin-bottom: 15px;
	}
}

@media (min-width: 600px) and (max-width: 800px) {
	.navigation-logo {
		flex: 1;
	}
	.navigation-logo img {
		width: 12rem;
	}
}

@media (min-width: 801px) and (max-width: 1024px) {
	.navigation-logo {
		flex: 1;
	}
	.navigation-logo img {
		width: 14rem;
	}
}

@media (min-width: 1025px) and (max-width: 1250px) {
	.navigation-logo {
		flex: 1;
		margin-top: 1rem;
	}
	.navigation-logo img {
		width: 16rem;
	}
}

@media (min-width: 1251px) {
	.navigation-logo {
		flex: 1;
		margin-top: 1rem;
	}
	.navigation-logo img {
		width: 18rem;
	}
}

.navigation-list {
	width: 60%;
}

.navigation-list-items {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	color: transparent;
}


.navigation-list-items li {
	flex: 1;
	text-align: center;
}

.navigation-list-items a {
	color: var(--Text);
	text-decoration: none;
	font-weight: var(--Bold);
	transition: all 0.5s ease;
}

.navigation-list-items li a:hover {
	color: #133082;
}

.navigation-list-items a.active {
	color: #133082;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 11px;
	padding-right: 11px;
	box-shadow: 0px 5px 0px -3px #133082;
}

.navigation-list-items a.active:hover {
	color: #133082;
}

.bx-menu {
	font-size: var(--HeaderTwo);
	cursor: pointer;
	display: none;
}

.hamburger {
	display: none;
}

@media (max-width: 1000px) {
	.navigation-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		background: #081b4e;
		transform: translateX(-100%);
		transition: transform 0.3s ease, opacity 0.3s ease;
		display: flex;
		justify-self: center;
		align-items: center;
		flex-direction: column;
		z-index: 100;
		padding-top: 120px;
		background: linear-gradient(to bottom, #036bd3, #1333cd);
	}

	.navigation-list-items {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.navigation-list.display {
		opacity: 1;
		transform: translateX(0);
	}

	.navigation-list-items li {
		margin: 20px 0;
	}

	.navigation-list-items a {
		display: block;
		transition: all 0.5s ease;
		font-size: 1.2rem;
		margin: 0px;
	}

	.navigation-list-items a:hover {
		color: var(--ColourStop5);
		transform: translateY(-2.5px);
	}

	.navigation-list .open {
		background: transparent;
	}

	.hamburger {
		display: block;
		position: absolute;
		margin-left: -2em;
		width: 2em;
		z-index: 500;
	}

	.hamburger div {
		position: relative;
		width: 3.5em;
		height: 7px;
		border-radius: 3px;
		background-color: white;
		margin-top: 8px;
		transition: all 0.3s ease-in-out;
	}

}

/* Base case, no media query needed if you want it to apply from the start (0px) up to 300px */
.hamburger {
	right: 10%;
}

/* From 300px to 600px */
@media (min-width: 300px) {
	.hamburger {
		right: 10%; /* Adjust value as needed */
	}
}

/* From 600px to 900px */
@media (min-width: 450px) {
	.hamburger {
		right: 8%; /* Adjust value as needed */
	}
	.hamburger div {
		width: 4em;
	}
}

/* From 900px to 1200px */
@media (min-width: 800px) {
	.hamburger {
		right: 7%; /* Adjust value as needed */
	}
}

/* From 1200px to 1500px */
@media (min-width: 1000px) {
	.hamburger {
		right: 7%; /* Adjust value as needed */
	}
}

.social-contacts {
	margin-top: 30px;
	justify-content: center;
	flex-direction: column;
}

.social-contacts svg {
	width: 55px;
}

.social-contacts a {
	margin: 0 10px;
}

@media (min-width: 1000px) {
	.social-contacts {
		display: none;
	}
	.navigation-list-items {
		display: flex;
		z-index: 2;
		padding: 5% 0% 5% 0%;
	}
}

#toggle {
	display: none;
}

#toggle:checked + .hamburger .bar1 {
	transform: rotate(-45deg);
	margin-top: 25px;
}
#toggle:checked + .hamburger .bar3 {
	opacity: 0;
	transform: rotate(45deg);
}
#toggle:checked + .hamburger .bar2 {
	transform: rotate(45deg);
	margin-top: -7px;
}

.link-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}