.sponsor-photo {
	display: flex;
	justify-content: center;
	margin: 5% 0% 8% 0%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-photo img {
		width: 100%;
		height: 45vh;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 50vh;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 70vh;
	}
}

.intro-outer-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-inner-box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: rgba(42, 75, 170, 0.3);
	border-radius: 18px;
}

.sponsor-top-msg {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Mobile devices */
@media (max-width: 600px) {
	.intro-inner-box {
		width: 80%;
	}
	.intro-outer-box {
		width: 100%;
	}
	.intro-inner-box h1 {
		font-size: 1.3rem;
		margin-bottom: 0.8rem;
	}

	.intro-inner-box p {
		font-size: 1.1rem;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 750px) {
	.intro-inner-box {
		width: 80%;
	}
	.intro-inner-box h1 {
		font-size: 1.3rem;
	}

	.intro-inner-box p {
		font-size: 1.1rem;
	}
	.intro-outer-box {
		width: 100%;
	}
}

/* iPad devices */
@media (min-width: 750px) and (max-width: 1024px) {
	.intro-inner-box {
		width: 60%;
	}
	.intro-inner-box h1 {
		font-size: 1.3rem;
	}

	.intro-inner-box p {
		font-size: 1.1rem;
	}
	.intro-outer-box {
		width: 100%;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.intro-inner-box {
		width: 50%;
	}
	.intro-inner-box h1 {
		font-size: 1.5rem;
	}
	.intro-inner-box p {
		font-size: 1.2rem;
	}
}


.sponsor-container {
	display: flex;
	margin-top: 7rem;
	margin-bottom: 7rem;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 400px;
	flex-wrap: wrap; /* Allows items to wrap if needed */
	width: 100%;
}

.sponsor-container .intro-inner-box {
	width: 100%;
}

.sponsor-container .intro-inner-box ul {
	padding: 0px 25px;
	font-size: 1rem;
}

.circle {
	width: 200px; /* Adjust size as needed */
	height: 200px; /* Adjust size as needed */
	margin: 20px; /* Adjust margin as needed */
	position: relative;
}

.circle .highlight {
	color: #1237a0; /* Highlight color for "10+" */
	font-size: 2rem; /* Larger font size for "10+" */
}

.circle-text {
	width: 80%;
}

.circle {
	backface-visibility: visible !important;
	animation: circle 5s linear infinite;
}

@keyframes circle {
	0%,
	20% {
		transform: perspective(400px) rotateY(0);
	}
	50% {
		transform: perspective(400px) rotateY(180deg);
	}
	80%,
	100% {
		transform: perspective(400px) rotateY(360deg);
	}
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-container {
		flex-direction: row;
		margin-right: 0%;
		margin-bottom: 450px;
		margin-top: 3rem;
	}
	.sponsor-container .intro-inner-box h1 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}
	.sponsor-container .intro-inner-box ul li {
		font-size: 1.1rem;
	}
	.sponsor-container .intro-outer-box {
		width: 80%;
		margin-bottom: 5rem;
	}
	.circle {
		margin-top: 1px;
		margin-bottom: 60px;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 750px) {
	.sponsor-container {
		flex-direction: row; /* Adjusted to match mobile, if needed */
		margin-right: 0%;
		margin-bottom: 450px; /* Adjust this value as needed for iPad */
		margin-top: 3rem;
	}
	.sponsor-container .intro-inner-box h1 {
		font-size: 1.3rem; /* Slightly larger than mobile for better readability */
	}
	.sponsor-container .intro-inner-box ul li {
		font-size: 1.1rem; /* Adjusted for iPad screen size */
		margin-bottom: 1%;
	}
	.sponsor-container .intro-outer-box {
		width: 80%; /* You might want to adjust this for iPad */
		margin-bottom: 5rem;
	}
	.circle {
		margin-top: 1px;
		margin-bottom: 60px; /* Adjust if necessary for iPad layout */
	}
}

/* iPad devices */
@media (min-width: 750px) and (max-width: 1024px) {
	.sponsor-container {
		flex-direction: row; /* Adjusted to match mobile, if needed */
		margin-right: 0%;
		margin-bottom: 450px; /* Adjust this value as needed for iPad */
		margin-top: 3rem;
	}
	.sponsor-container .intro-inner-box h1 {
		font-size: 1.3rem; /* Slightly larger than mobile for better readability */
	}
	.sponsor-container .intro-inner-box ul li {
		font-size: 1.1rem; /* Adjusted for iPad screen size */
		margin-bottom: 1%;
	}
	.sponsor-container .intro-outer-box {
		width: 100%; /* You might want to adjust this for iPad */
		margin-bottom: 5rem;
	}
	.circle {
		margin-top: 1px;
		margin-bottom: 60px; /* Adjust if necessary for iPad layout */
	}
	.sponsor-container .intro-inner-box {
		width: 60%;
	}
}

/* Laptop devices */
@media (min-width: 1024px) and (max-width: 1200px) {
	.sponsor-container {
		flex-direction: column;
		margin-top: 7rem;
		margin-bottom: 7rem;	
	}
	.circle:first-child {
		top: 5vh; /* Move the circle above the container */
		left: 3vw; /* Align to the left side of the container */
	}

	.circle:last-child {
		top: -2vh; /* Adjust based on the desired position above the first circle */
		left: 21vw; /* Adjust so it's to the right of the first circle but still above the div */
	}
	.sponsor-container .intro-outer-box {
		width: 50%;
	}
	.sponsor-container .circle-container {
		width: 50%;
	}
	.sponsor-container .intro-inner-box {
		width: 80%;
		margin-right: 50px;
	}
	.sponsor-container .intro-outer-box {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.sponsor-container .intro-inner-box ul li {
		font-size: 1.2rem; /* Adjusted for iPad screen size */
		margin-bottom: 1%;
	}
}

@media (min-width: 1200px) and (max-width: 1450px) {
	.sponsor-container {
		flex-direction: column;
	}
	.circle:first-child {
		top: 5vh; /* Move the circle above the container */
		left: -15vw; /* Align to the left side of the container */
	}

	.circle:last-child {
		top: -2vh; /* Adjust based on the desired position above the first circle */
		left: 2vw; /* Adjust so it's to the right of the first circle but still above the div */
	}
	.sponsor-container .circle-container {
		width: 20%;
	}
}

@media (min-width: 1450px) {
	.sponsor-container {
		flex-direction: column;
	}
	.circle:first-child {
		top: 5vh; /* Move the circle above the container */
		left: -15vw; /* Align to the left side of the container */
	}

	.circle:last-child {
		top: -2vh; /* Adjust based on the desired position above the first circle */
		left: -1vw; /* Adjust so it's to the right of the first circle but still above the div */
	}
}

.impact-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

.swiper {
	padding-left: 20px; /* Adjust based on the size of your arrows */
	padding-right: 20px; /* Adjust based on the size of your arrows */
	width: 100%;
}

/* Styles for each slide */
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left; /* Centers the text horizontally */
	padding: 20px; /* Adds space inside each slide */
}

.swiper-slide div {
	width: 50%;
	padding: 20px;
	border-radius: 18px;
	margin: 0 auto; /* Centers the div */
	background-color: rgba(42, 75, 170, 0.3);
}

.swiper-slide div h1 {
	margin-bottom: 15px;
}

/* Additional styling for the content inside slides */
.swiper-slide div {
	max-width: 80%; /* Limits the width of the content, adjust as needed */
	margin: auto; /* Centers the content block */
}

/* Ensures the navigation buttons are visible and positioned correctly */
.swiper-button-prev,
.swiper-button-next {
	border-radius: 50%; /* Optional: Makes the background circle */
	padding: 10px; /* Adjusts the size of the circle background */
	width: calc(var(--swiper-navigation-size) / 44 * 100);
}

/* Mobile devices */

@media (max-width: 600px) {
	.impact-heading {
		margin-top: 25rem;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}

	:root {
		--swiper-navigation-size: 50px;
	}
	.swiper-slide {
		padding: 20px; /* Adds space inside each slide */
	}

	.swiper-slide div {
		width: 100%;
		max-width: 100%;
		min-height: 18rem;
	}

	.swiper-slide div h1 {
		font-size: 1.2rem;
	}

	.swiper-slide div p {
		font-size: 1rem;
	}
	:root {
		--swiper-navigation-size: 45px;
	}
	.impact-heading {
		font-size: 1.6rem;
	}
}

@media (max-width: 390px) {
	.impact-heading {
		margin-top: 30rem;
	}
}

@media (min-width: 450px) and (max-width: 600px) {
	.swiper-slide div {
		min-height: 15rem;
	}
}
/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 2rem;
		width: calc(var(--swiper-navigation-size) / 44 * 1);
		height: calc(var(--swiper-navigation-size) / 2	* 1);
	}
	:root {
		--swiper-navigation-size: 70px;
	}
	.swiper-slide div {
		width: 75%;
		min-height: 10rem;
	}
	.swiper-slide div h1 {
		font-size: 1.2rem;
	}

	.swiper-slide div p {
		font-size: 1rem;
	}

	.impact-heading {
		margin-bottom: 3rem;
		font-size: 2rem;
	}
}

/* Laptop devices */
@media (min-width: 1024px) and (max-width: 1200px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 3.5rem;
		top: 25%;
		height: calc(var(--swiper-navigation-size) / 0.65 );

	}
	:root {
		--swiper-navigation-size: 80px;
	}
	.swiper-slide div {
		min-height: 17rem;
	}
	.swiper-slide div h1 {
		font-size: 1.5rem;
	}

	.swiper-slide div p {
		font-size: 1.1rem;
	}

	.impact-heading {
		font-size: 2.2rem;
		margin-bottom: 5rem;
	}
}

@media (min-width: 1200px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 5rem;
		top: 25%;
	}
	:root {
		--swiper-navigation-size: 80px;
	}

	.swiper-slide div h1 {
		font-size: 1.5rem;
	}

	.swiper-slide div p {
		font-size: 1.1rem;
	}

	.impact-heading {
		font-size: 2.2rem;
		margin-bottom: 5rem;
	}
}


.sponsors,
.partners,
.affiliations,
.become-sponsor-msg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.sponsors-page-images {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 2.5rem;
}

.partners {
	margin: 4rem 12rem 4rem 12rem;
	text-align: center;
}

/* Mobile devices */
@media (max-width: 600px) {
	.affiliations h1,
	.partners h1,
	.sponsors h1 {
		font-size: 1.6rem;
		margin: 1rem 1rem;
	}
	.become-sponsor-msg {
		font-size: 1.7rem;
		margin: 0rem 0.7rem 4rem 0.7rem;
	}
	.sponsors img {
		width: 40%;
		margin: 25px 50px; /* Add some space between images */
	}

	.affiliations {
		margin-top: 1rem;
	}

	.affiliations img {
		width: 40%;
		margin: 25px 50px; /* Add some space between images */
	}

	.partners {
		margin: 1.5rem;
		text-align: center;
	}
	.sponsors-page-images {
		margin-top: 1rem;
	}
	.sponsors,
	.partners,
	.affiliations {
		margin-bottom: 1.5rem;
	}

	.sponsors h1 {
		text-align: center; /* Centers the <h1> block itself */
	}

	.sponsors h1 span {
		display: inline-block;
		text-align: center; /* Makes the content of each line start at the center */
		max-width: 100%; /* Ensures the span does not overflow the parent */
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 1024px) {
	.affiliations h1,
	.partners h1,
	.sponsors h1 {
		font-size: 2rem; /* Slightly larger for better readability on iPads */
		margin: 1.5rem 1.5rem;
	}
	.become-sponsor-msg {
		font-size: 2rem;
		margin: 4rem 1rem 6rem 1rem;
	}

	.sponsors img {
		width: 18%; /* Adjusted for larger screen */
		margin: 25px 50px; /* Slightly more space between images */
	}

	.affiliations {
		margin-top: 1rem;
	}

	.affiliations img {
		width: 22%; /* Adjusted for larger screen */
		margin: 25px 50px; /* Slightly more space between images */
	}

	.partners {
		margin: 2rem;
		text-align: center;
	}
	.sponsors-page-images {
		margin-top: 2rem;
	}
	.sponsors,
	.partners,
	.affiliations {
		margin-bottom: 2rem;
	}

	.sponsors h1 {
		text-align: center;
	}

	.sponsors h1 span {
		display: inline-block;
		text-align: center;
		max-width: 100%;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.affiliations h1,
	.partners h1,
	.sponsors h1 {
		font-size: 2.2rem; /* Adjusted for laptop screens */
		margin: 2rem 2rem;
	}
	.become-sponsor-msg {
		font-size: 2.2rem;
		margin: 4rem 1.5rem 7rem 1.5rem;
	}
	.sponsors img {
		width: 15%; /* Larger images for larger screens */
		margin: 35px 70px; /* More space between images */
	}

	.affiliations {
		margin-top: 1.5rem;
	}

	.affiliations img {
		width: 15%; /* Larger images for larger screens */
		margin: 35px 70px; /* More space between images */
	}

	.partners {
		margin: 2.5rem;
		text-align: center;
	}
	.sponsors-page-images {
		margin-top: 2.5rem;
	}
	.sponsors,
	.partners,
	.affiliations {
		margin-bottom: 2.5rem;
	}

	.sponsors h1 {
		text-align: center;
	}

	.sponsors h1 span {
		display: inline-block;
		text-align: center;
		max-width: 100%;
	}
}

.swiper-pagination {
	margin-top: 80px;
}

/* Mobile devices */
@media (max-width: 600px) {
	.partners h1 {
		margin-bottom: 0px;
	}
}

/* iPad devices */
@media (min-width: 600px) and (max-width: 750px) {
	.partners h1 {
		margin-bottom: 0px;
	}
}

@media (min-width: 750) and (max-width: 1024px) {
	.partners h1 {
		margin-bottom: 0px;
	}
}

/* Laptop devices */
@media (min-width: 1024px) {
	.partners h1 {
		margin-bottom: 0px;
	}
}

@media (min-width: 1330px) {
	.partners h1 {
		margin-bottom: 10px;
	}
}

.scroll {
	position: relative;
	display: flex;
	width: 1500px;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(
		90deg,
		transparent,
		#fff 20%,
		#fff 80%,
		transparent
	);
}

.scroll div {
	white-space: nowrap;
	animation: scroll var(--time) linear infinite;
	animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
	animation: scroll2 var(--time) linear infinite;
	animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes scroll2 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-200%);
	}
}

.scroll div span {
	display: inline-flex;
	margin: 10px;
	letter-spacing: 0.2em;
	background: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.5s;
}

.scroll div span:hover {
	background: #3fd2f9;
	cursor: pointer;
}

.imgBox div {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	.scroll {
		margin-top: 0rem;
		width: 95%;
	}
	.imgBox img {
		width: 16rem;
		height: 16rem;
		scale: 0.6;
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.scroll {
		margin-top: 2.2rem;
		width: 95%;
	}
	.imgBox img {
		width: 21rem;
		height: 12.5rem;
		scale: 0.7;
	}
}

@media (min-width: 1024px) {
	.scroll {
		margin-top: 6.2rem;
		width: 95%;
	}
	.imgBox img {
		width: 23rem;
		height: 13rem;
		scale: 0.75;
	}
	.partners img {
		padding: 0 1rem;
	}
}

.become-sponsor-msg-container {
	text-align: center;
}

.become-sponsor-msg {
	display: inline-block;
	font-size: 3rem;
	margin: 0rem 0.7rem 8rem 0.7rem;
	color: transparent;
	color: var(--Text);
	text-decoration: none;
	font-weight: var(--Bold);
	transition: all 0.5s ease;
}

.become-sponsor-msg:hover {
	color: #45abdd;
}

@keyframes bounceAnimation {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.bounce {
	animation: bounceAnimation 1s;
}
.navigation-list-items a.active {
	color: black;
	text-decoration: none; /* Remove the default underline */
	padding-bottom: 1.5px; /* Add some space between the text and the underline */
	box-shadow: 
		0px 5px 0px -3px black; /* Create a shadow that acts as an underline */
	display: inline-block; /* This makes the padding effective */
}