.sponsor-photo {
	display: flex;
	justify-content: center;
	margin: 5% 0% 8% 0%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-photo img {
		width: 100%;
		height: 45vh;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 50vh;
	}
}

/* Laptop devices */
@media (min-width: 1025px) {
	.sponsor-photo img {
		width: 100%;
		height: 70vh;
	}
}

.intro-outer-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-inner-box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: rgba(42, 75, 170, 0.3);
	border-radius: 18px;
}

/* Mobile devices */
@media (max-width: 600px) {
	.intro-inner-box {
		width: 80%;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.intro-inner-box {
		width: 70%;
	}
	.intro-inner-box h1 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}

	.intro-inner-box p {
		font-size: 1.1rem;
	}
}

/* Laptop devices */
@media (min-width: 1025px) {
	.intro-inner-box {
		width: 50%;
	}
}

.intro-inner-box h1 {
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
}

.intro-inner-box p {
	font-size: 1.2rem;
}

/*************************/
.sponsor-container {
	display: flex;
	margin-top: 7rem;
	margin-bottom: 7rem;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-right: 10%;
	height: 400px;
	gap: 80px; /* Adjust gap as needed */
	flex-wrap: wrap; /* Allows items to wrap if needed */
}

.sponsor-container .intro-inner-box {
	width: 100%;
}

.sponsor-container .intro-inner-box ul {
	padding: 0px 25px;
	font-size: 1rem;
}

.circle {
	width: 200px; /* Adjust size as needed */
	height: 200px; /* Adjust size as needed */
	border-radius: 50%; /* This creates the circle shape */
	background-color: #58a1f8; /* Background color of the circle */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem; /* Adjust base font size as needed */
	color: white; /* Base text color */
	margin: 20px; /* Adjust margin as needed */
	border-color: #1237a0;
	border-style: solid;
	border-width: 5px;
	position: relative;
}


.circle .highlight {
	color: #1237a0; /* Highlight color for "10+" */
	font-size: 2rem; /* Larger font size for "10+" */
}

.circle-text {
	width: 80%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-container {
		flex-direction: row;
		margin-right: 0%;
		margin-bottom: 450px;
	}
	.sponsor-container .intro-inner-box h1 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}
	.sponsor-container .intro-inner-box ul li {
		font-size: 1.1rem;
	}
	.sponsor-container .intro-outer-box {
		width: 80%;
	}
	.circle {
		margin-top: 1px;
		margin-bottom: 60px;

	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.sponsor-container {
		flex-direction: row;
	}
}

/* Laptop devices */
@media (min-width: 1025px) {
	.sponsor-container {
		flex-direction: row;
	}
	.circle:first-child {
		top: 40px; /* Move the circle above the container */
		left: 0px; /* Align to the left side of the container */
	}
	
	.circle:last-child {
		top: -20px; /* Adjust based on the desired position above the first circle */
		left: 230px; /* Adjust so it's to the right of the first circle but still above the div */
	}
	.sponsor-container > div {
		margin-right: 50px; /* Adds space to the right of each child div */
	}
	
	.sponsor-container > div:last-child {
		margin-right: 0; /* Removes the right margin from the last child div to avoid extra space at the end */
	}
}


.impact-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}



/*********************************/

.swiper-button-next:hover,
.swiper-button-prev:hover {
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

.swiper {
	padding-left: 20px; /* Adjust based on the size of your arrows */
	padding-right: 20px; /* Adjust based on the size of your arrows */
	width: 90%;
}

/* Styles for each slide */
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left; /* Centers the text horizontally */
	padding: 20px; /* Adds space inside each slide */
}

.swiper-slide div {
	width: 50%;
	padding: 20px;
	border-radius: 18px;
	margin: 0 auto; /* Centers the div */
	background-color: rgba(42, 75, 170, 0.3);
}

.swiper-slide div h1 {
	margin-bottom: 15px;
}

/* Additional styling for the content inside slides */
.swiper-slide div {
	max-width: 80%; /* Limits the width of the content, adjust as needed */
	margin: auto; /* Centers the content block */
}

/* Ensures the navigation buttons are visible and positioned correctly */
.swiper-button-prev,
.swiper-button-next {
	color: #000; /* Change the color as needed */
	border-radius: 50%; /* Optional: Makes the background circle */
	padding: 10px; /* Adjusts the size of the circle background */
	width: calc(var(--swiper-navigation-size) / 44 * 100);
}

/* Mobile devices */
@media (max-width: 600px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
	}

	:root {	
		--swiper-navigation-size: 60px;
	}

	.swiper-slide div{
		width: 85%;
		max-width: 85%;

	}

	.swiper-slide div h1 {
		font-size: 1.2rem;
	}

	.swiper-slide div p {
		font-size: 1rem;
	}
	:root {
		--swiper-navigation-size: 45px;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 2rem;
	}
	:root {	
		--swiper-navigation-size: 70px;
	}
	.swiper-slide div h1 {
		font-size: 1.2rem;
	}

	.swiper-slide div p {
		font-size: 1rem;
	}
}

/* Laptop devices */
@media (min-width: 1025px) and (max-width: 1200px){
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 3.5rem;
	}
	:root {	
		--swiper-navigation-size: 80px;
	}
	.swiper-slide div h1 {
		font-size: 1.5rem;
	}

	.swiper-slide div p {
		font-size: 1.1rem;
	}
}

@media (min-width: 1200px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 5rem;
	}
	:root {	
		--swiper-navigation-size: 80px;
	}
	
	.swiper-slide div h1 {
		font-size: 1.5rem;
	}

	.swiper-slide div p {
		font-size: 1.1rem;
	}

}

/************************************/

.sponsors,
.partners,
.affiliations,
.become-sponsor-msg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.sponsors-page-images {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 2.5rem;
}

.sponsors img,
.affiliations img {
	width: 15%;
    margin: 50px 50px;  /* Add some space between images */
}

.partners img {
	width: 22%;
	margin: 50px 50px;  /* Add some space between images */
}

.partners {
	margin: 4rem 12rem 4rem 12rem;
    text-align: center;
}

.partner-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;  /* Allows horizontal scrolling if the images don't fit in one line */
}

.partner-images img {
    flex-shrink: 0;  /* Prevent images from shrinking */
    max-height: 150px;  /* Adjust as necessary to fit your layout */
}

.become-sponsor-msg-container {
	text-align: center;
}

.become-sponsor-msg {
	display: inline-block;
	font-size: 3rem;
	margin: 0rem 0.7rem 8rem 0.7rem;
	color: transparent;
	color: var(--Text);
	text-decoration: none;
	font-weight: var(--Bold);
	transition: all 0.5s ease;
}

.become-sponsor-msg:hover {
	color: #45abdd;
}

@keyframes bounceAnimation {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.bounce {
	animation: bounceAnimation 1s;
}