.sponsor-photo {
	display: flex;
	justify-content: center;
	margin: 5% 0% 8% 0%;
}

/* Mobile devices */
@media (max-width: 600px) {
	.sponsor-photo img {
		width: 100%;
		height: 45vh;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.sponsor-photo img {
		width: 100%;
		height: 50vh;
	}
}

/* Laptop devices */
@media (min-width: 1025px) {
	.sponsor-photo img {
		width: 100%;
		height: 70vh;
	}
}

.intro-outer-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 10%;
}

.intro-inner-box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: rgba(42, 75, 170, 0.3);
	border-radius: 18px;
}

.intro-inner-box h1 {
	font-size: 1.2rem;
}

.intro-inner-box p {
	font-size: 1rem;
}

.impact-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

/*********************************/

.swiper-button-next:hover,
.swiper-button-prev:hover {
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

.swiper {
	padding-left: 20px; /* Adjust based on the size of your arrows */
	padding-right: 20px; /* Adjust based on the size of your arrows */
}

/* Styles for each slide */
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left; /* Centers the text horizontally */
	padding: 20px; /* Adds space inside each slide */
}

.swiper-slide div {
	width: 65%;
	padding: 20px;
	border-radius: 18px;
	margin: 0 auto; /* Centers the div */
	background-color: rgba(42, 75, 170, 0.3);
}

/* Additional styling for the content inside slides */
.swiper-slide div {
	max-width: 80%; /* Limits the width of the content, adjust as needed */
	margin: auto; /* Centers the content block */
}

/* Ensures the navigation buttons are visible and positioned correctly */
.swiper-button-prev,
.swiper-button-next {
	color: #000; /* Change the color as needed */
	border-radius: 50%; /* Optional: Makes the background circle */
	padding: 10px; /* Adjusts the size of the circle background */
}

/* Mobile devices */
@media (max-width: 600px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
	}

	:root {	
		--swiper-navigation-size: 60px;
	}

	.swiper-slide div{
		width: 90%;
		max-width: 85%;

	}

	.swiper-slide div h1 {
		font-size: 1.2rem;
	}

	.swiper-slide div p {
		font-size: 1rem;
	}
	:root {
		--swiper-navigation-size: 45px;
	}
}

/* iPad devices */
@media (min-width: 601px) and (max-width: 1024px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 2rem;
	}
	
}

/* Laptop devices */
@media (min-width: 1025px) and (max-width: 1200px){
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 3.5rem;
	}
}

@media (min-width: 1200px) {
	.swiper-button-next,
	.swiper-button-prev {
		color: white;
		margin: 0 5rem;
	}
}

/************************************/

.sponsors,
.partners,
.affiliations,
.become-sponsor-msg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.sponsors-page-images {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 2.5rem;
}

.sponsors img,
.partners img,
.affiliations img {
	width: 25%;
	margin: 1.5rem;
}

.become-sponsor-msg {
	font-size: 1.5rem;
	margin: 0rem 0.7rem 4rem 0.7rem;
	color: transparent;
	color: var(--Text);
	text-decoration: none;
	font-weight: var(--Bold);
	transition: all 0.5s ease;
}

.become-sponsor-msg:hover {
	color: #45abdd;
}
